html, body
	height: 100%
body
  background: #FFF
  color: #fff
  font-size: 16px
  line-height: 1.4
  text-transform: uppercase
  +bebas-reg

.out
	+r(900)
		overflow: hidden
.inner
	max-width: 1170px
	padding: 0 15px
	margin: 0 auto
	position: relative
	+clr
	+r(900)
		max-width: 630px

img
	width: 100%
	height: auto
	display: block