body
  background: #FFF
  font-size: 16px
  line-height: 1.4
  +bebas-reg

.inner
	max-width: 1170px
	padding: 0 15px
	margin: 0 auto
	position: relative

img
	max-width: 100px
	display: block
	height: auto
