.section
	position: relative
.section1
	background: url(../img/section1/bg-sec1.jpg) no-repeat top center
	background-size: cover
	overflow: hidden
	text-transform: uppercase
	color: #fff
	.inner
		+clr
		min-height: 1010px
		position: relative
		z-index: 1
.prices
	background: url(../img/section1/pricing.png) no-repeat 50% 0%
	+hide-text
	display: inline-block
	vertical-align: bottom
	width: 104px
	height: 169px
.price
	+bebas-bold
	color: white
	text-transform: uppercase
	line-height: 1
	&__current
		font-size: 120px
		text-shadow: 7px 0 7px #ff4aff, -7px 0 7px #ff4aff, 0 7px 7px #ff4aff, 0 -7px 7px #ff4aff, 0 0 7px #ff4aff, 0 0 7px #ff4aff, 0 0 7px #ff4aff, 0 0 7px #ff4aff, 0 0 7px #ff4aff, 0 0 7px #ff4aff, 0 0 7px #ff4aff, 0 12px 18px rgba(0, 0, 0, 0.32)
	&__text
		font-size: 18px
		text-shadow: 7px 0 7px #ff4aff, -7px 0 7px #ff4aff, 0 7px 7px #ff4aff, 0 -7px 7px #ff4aff, 0 0 7px #ff4aff, 0 0 7px #ff4aff, 0 0 7px #ff4aff, 0 0 7px #ff4aff, 0 0 7px #ff4aff, 0 0 7px #ff4aff, 0 0 7px #ff4aff, 0 12px 18px rgba(0, 0, 0, 0.32)
.desc
	+f(bebas-bold, 30, 1, null)
	max-width: 94px
	display: inline-block
	vertical-align: bottom
	margin: 0 0 12px 10px
.shadow
	position: absolute
	width: 723px
	height: 488px
	left: 109px
	bottom: -20px
	background: url(../img/section1/product-main__shadow.png) no-repeat center
	opacity: 0.49
	z-index: -1
.content
	width: 475px
	float: right
.section2
	background: url(../img/section2/bg-sec2.png) no-repeat center top
	background-size: cover
	overflow: hidden
	margin-top: -84px
	z-index: 10
	.inner
		min-height: 1095px
		padding: 140px 15px
		+clr
.section3
	background: url(../img/section3/bg-sec3.png) no-repeat center top
	background-size: cover
	overflow: hidden
	margin-top: -120px
	.inner
		min-height: 1078px
		padding-top: 120px
.section4
	background-color: #FFF
	margin-top: -14px
	.inner
		min-height: 1236px
		padding-top: 129px