.advantage
	margin-bottom: 28px
	+r(500)
		margin-bottom: 50px
	&__item
		line-height: 1
		padding-left: 47px
		position: relative
		+fluid-font(22px, 26px, 900px, 1170px, 26px)
		&:not(:last-of-type)
			margin-bottom: 14px
			+r(900)
				margin-bottom: 19px
		+r(900)
			font-size: 26px
	&__icon
		position: absolute
		top: 0
		left: 0
		width:  ((28 / 405) * 100) * "1%" 
		height: 100%
		+r(900)
			width: 28px
			height: 27px
		img
			position: absolute
			right: -((13 / 26) * 100) * "1%" 
			left: -((13 / 26) * 100) * "1%" 
			top: 0
			width: 193%