.advantage
	margin-bottom: 28px
	&__item
		+f(bebas-reg, 26, 1, null)
		color: #fff
		text-transform: uppercase
		margin-bottom: 12px
		padding-left: 28px + 19px
		position: relative
	&__icon
		position: absolute
		top: 0
		left: 0
		width: 28px
		height: 27px
		img
			position: absolute
			right: -13px
			left: -13px
			top: 0
			margin: auto