.attention
	+evo
	line-height: 1
	max-width: 1063px
	margin: auto
	padding-top: 15px
	padding-left: 426px
	min-height: 315px
	position: relative
	&__pic
		width: 337px
		height: 315px
		z-index: 1
		position: absolute
		top: 0
		left: 44px
		img
			position: absolute
			top: ((-28 / 337) * 100) * "1%"
			right: ((-44 / 315) * 100) * "1%"
			bottom: ((-28 / 337) * 100) * "1%"
			left: ((-44 / 315) * 100) * "1%"
			margin: auto
			width: auto
	&__title
		font-size: 48px
		color: #2e2e2e
		margin-bottom: 32px
		span
			font-size: 36px
			display: block
	&__subtitle
		font-size: 30px
		span
			font-size: 72px
			color: #ff7200
			display: block
			position: relative
			margin-left: -43px
			margin-bottom: 10px