.drink
	position: relative
	width: 50%
	float: left
	&__top
		+evo
		padding-right: 30px
	&__top-small
		color: #303030
		font-size: 24px
		+fluid-font(20px, 24px, 900px, 1170px, 24px)
		line-height: (61 / 24)
		letter-spacing: -0.01em
	&__top-big
		+fluid-font(74px, 90px, 900px, 1170px, 90px)
		color: #ff7200
		line-height: (103 / 90)
		letter-spacing: -0.01em