.products
	position: relative
	padding-top: 120px
	line-height: 1
	&__title
		+evo
		+fluid-font(32px, 36px, 900px, 1140px, 36px)
		line-height: 1.4
		max-width: 710px
		display: block
		margin: 0 auto
		text-align: center
	&__list
		+clr
		padding: 100px 0
	&__item
		float: left
		width: 33.3333%
		text-align: center
		position: relative
		z-index: 1
		&:before,
		&:after
			content: ''
			display: block
			position: absolute
			z-index: -1
			left: 0
			right: 0
		&:before
			height: 839px
			margin: auto
			top: 0
			bottom: 0
		&:after
			height: 226px
			top: 287px
			margin: auto
		&:nth-of-type(1)
			&:before
				background: url(../img/section3/product1__bg.png) no-repeat center
				opacity: 0.2
			&:after
				background: url(../img/section3/product1__shadow.png) no-repeat center
				opacity: 0.66
		&:nth-of-type(2)
			&:before
				background: url(../img/section3/product2__bg.png) no-repeat center
				opacity: 0.4
			&:after
				background: url(../img/section3/product2__shadow.png) no-repeat center
		&:nth-of-type(3)
			&:before
				background: url(../img/section3/product3__bg.png) no-repeat center
				opacity: 0.6
			&:after
				background: url(../img/section3/product3__shadow.png) no-repeat center
	&__item-pic
		background-repeat: no-repeat
		background-position: center center
		background-size: contain
		position: relative
		&:before
			content: ''
			display: block
			padding-top: (400 / 380) * 100 * "1%" 
	&__item-body
		position: absolute
		left: 0
		right: 0
		bottom: 0
		margin: 0 auto -26.31578947368421% // 100 / 380
		font-size: 0
	&__item-footer
		margin-top: 90px
	&__item-discount
		display: inline-block
		vertical-align: middle
		+bebas-bold
		line-height: 1
		+fluid-font(36px, 48px, 900px, 1140px, 48px) 
		width: 50%
		span
			display: block
			+fluid-font(76px, 100px, 900px, 1140px) 
			margin-top: -10px
	&__item-price
		+hide-text
		display: inline-block
		vertical-align: top
		width: 50%
		+clr
		img
			width: auto
			max-width: 100%
			float: right
	&__badge
		max-width: 170px
		width: 100%
		padding: 16px
		background-color: #ff4aff
		border-radius: 10px
		+fluid-font(20px, 24px, 900px, 1140px, 24px)
		position: absolute
		left: 0
		bottom: 100%
		margin-bottom: -10px
	&__total
		+fluid-font(20px, 24px, 900px, 1140px, 24px)
		margin-top: 10px