.t-product
	position: absolute
	background: url(../img/section1/girl-lg.png) no-repeat center
	width: (876 / 1170) * 100 * "1%"
	height: (990 / 1010) * 100 * "1%"
	left: (-74 / 1170) * 100 * "1%"
	bottom: (10 / 1010) * 100 * "1%"
	+r(900)
		background: url(../img/section1/girl-sm.png) no-repeat center
		width: 275px
		height: 536px
		left: -15px
		bottom: 10
	+r(500)
		display: none
	&__head
		width: (215 / 876) * 100 * "1%"
		position: absolute
		left: (415 / 876) * 100 * "1%"
		top: (301 / 990) * 100 * "1%"
		z-index: 10
		+r(900)
			display: none