.t-product
	position: absolute
	background: url(../img/section1/girl-lg.png) no-repeat center
	// background-size: contain
	width: (876 / 1170) * 100 * "1%"
	height: (990 / 1010) * 100 * "1%"
	left: (-74 / 1170) * 100 * "1%"
	bottom: (10 / 1010) * 100 * "1%"
	&__head
		width: (215 / 876) * 100 * "1%"
		text-transform: uppercase
		color: #fff
		position: absolute
		// left: 489px - 74px
		// top: 301px
		left: (415 / 876) * 100 * "1%"
		top: (301 / 990) * 100 * "1%"
		z-index: 10
		+r(1100)
			left: 360px