<!-- BEGIN section section2 -->
<section class="section section2">
	<!-- BEGIN inner -->
	<div class="inner">

		<!-- BEGIN drink -->
		<div class="drink">
			<div class="drink__top">
				<div class="drink__top-small">dentro carbonatada pastillas para adelgazar</div>
				<div class="drink__top-big">fizzyslim?</div>
			</div>
		</div>
		<!-- END drink -->
		
		<!-- BEGIN plus -->
		<ul class="plus">
			<li class="plus__item">
				<div class="plus__pic"><img src="img/section2/ava1.png" alt=""></div>
				<div class="plus__content">
					<div class="plus__title">Las vitaminas B2, B5, B6, B8, B12</div>
					<div class="plus__desc">
						desempeñan un papel importante en el proceso de digestión de grasas y proteínas, influyen en la producción de la hormonas tiroideas.
					</div>
				</div>
			</li>
			<li class="plus__item">
				<div class="plus__pic"><img src="img/section2/ava2.png" alt=""></div>
				<div class="plus__content">
					<div class="plus__title">Garcinia camboyana</div>
					<div class="plus__desc">
						acelera la digestión y absorbación de nutrientes.
					</div>
				</div>
			</li>
			<li class="plus__item">
				<div class="plus__pic"><img src="img/section2/ava3.png" alt=""></div>
				<div class="plus__content">
					<div class="plus__title">Vitamina С</div>
					<div class="plus__desc">
						contribuye a la utilización general de grasa en el organismo,   toma parte en el proceso de transformación de la glucosa en energía necesaria para  las funciones vitales del organismo.
					</div>
				</div>
			</li>
			<li class="plus__item">
				<div class="plus__pic"><img src="img/section2/ava4.png" alt=""></div>
				<div class="plus__content">
					<div class="plus__title">El jengibre</div>
					<div class="plus__desc">
						tiene un efecto positivo en la actividad del tracto gastrointestinal y estabiliza el equilibrio ácido en el estómago.
					</div>
				</div>
			</li>
			<li class="plus__item">
				<div class="plus__pic"><img src="img/section2/ava5.png" alt=""></div>
				<div class="plus__content">
					<div class="plus__title">Las bayas de Goji</div>
					<div class="plus__desc">
						eliminan de manera eficaz la grasa, normalizan  el metabolismo, ayudan a reducir los niveles de colesterol, ayudan a deshacerse de las sensaciones desagradables de pezaadez de estómago.
					</div>
				</div>
			</li>
		</ul>
		<!-- END plus -->

	</div>
	<!-- END inner -->

	<!-- BEGIN parallax -->
	<div class="parallax js-parallax-1">
		<div class="parallax__item-1"></div>
	</div>
	<!-- END parallax -->
</section>
<!-- END section section2 -->