<!-- BEGIN section section2 -->
<section class="section section2">
	<div class="inner">
		<div class="drink">
			<div class="drink__top">
				all'interno gassate pillole dimagranti <span>fizzyslim?</span>
			</div>
			<div class="drink__body"></div>
		</div>
		<ul class="plus">
			<li class="plus__item">
				<div class="plus__pic"><img src="" alt=""></div>
				<div class="plus__content">
					<div class="plus__title">Vitamine B2, B5, B6, B8, B12</div>
					<div class="plus__desc">
						svolgono un ruolo importante nella digestione dei grassi e proteine, influenzano la produzione di ormone tiroideo. 
					</div>
				</div>
			</li>
			<li class="plus__item">
				<div class="plus__pic"><img src="" alt=""></div>
				<div class="plus__content">
					<div class="plus__title">Garcinia</div>
					<div class="plus__desc">
						Accelera i processi digestivi, l'assimilazione delle sostanze nutritive.
					</div>
				</div>
			</li>
			<li class="plus__item">
				<div class="plus__pic"><img src="" alt=""></div>
				<div class="plus__content">
					<div class="plus__title">La vitamina C</div>
					<div class="plus__desc">
						contribuisce alla utilizzazione globale di grasso nel corpo, è coinvolta nella conversione del glucosio in energia per le funzioni vitali del corpo
					</div>
				</div>
			</li>
			<li class="plus__item">
				<div class="plus__pic"><img src="" alt=""></div>
				<div class="plus__content">
					<div class="plus__title">Lo Zenzero</div>
					<div class="plus__desc">
						ha un effetto positivo sull'attività del tratto gastrointestinale e stabilizza l'equilibrio acido nello stomaco
					</div>
				</div>
			</li>
			<li class="plus__item">
				<div class="plus__pic"><img src="" alt=""></div>
				<div class="plus__content">
					<div class="plus__title">Bacche di Goji</div>
					<div class="plus__desc">
						effettivamente grasso, normalizzare il metabolismo, aiutano ridurre i livelli di colesterolo, aiuta a sbarazzarsi di una sgradevole sensazione di pesantezza allo stomaco.
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
<!-- END section section2 -->