<!-- BEGIN section section3 -->
<section class="section section3">
	<!-- BEGIN inner -->
	<div class="inner">
		
		<!-- BEGIN products -->
		<div class="products">
			<div class="products__title">
				Oferta limitada! <br>
				Mientras màs compras - màs barato!
			</div>
			<ul class="products__list">
				<li class="products__item">
					<div class="products__item-pic" style="background-image: url(img/section3/product1.png)">
						<div class="products__badge">Un paquete</div>
						<div class="products__item-body">
							<div class="products__item-price">
								$6 per una confezionea
								<img src="img/section3/price-current1.png" alt="">
							</div>
							<div class="products__item-discount">descuento <span>50%</span></div>
						</div>
					</div>
					<div class="products__item-footer">
						<a href="#come" class="btn-secondary js-btn-to">checkout</a>
						<div class="products__total">valor total: 6$</div>
					</div>
				</li>
				<li class="products__item">
					<div class="products__item-pic" style="background-image: url(img/section3/product2.png)">
						<div class="products__badge">Dos paquete</div>
						<div class="products__item-body">
							<div class="products__item-price">
								$5 per una confezionea
								<img src="img/section3/price-current2.png" alt="">
							</div>
							<div class="products__item-discount">descuento <span>50%</span></div>
						</div>
					</div>
					<div class="products__item-footer">
						<a href="#come" class="btn-secondary js-btn-to">checkout</a>
						<div class="products__total">valor total: 10$</div>
					</div>
				</li>
				<li class="products__item">
					<div class="products__item-pic" style="background-image: url(img/section3/product3.png)">
						<div class="products__badge">Tres paquetes</div>
						<div class="products__item-body">
							<div class="products__item-price">
								$4 per una confezionea
								<img src="img/section3/price-current3.png" alt="">
							</div>
							<div class="products__item-discount">descuento <span>50%</span></div>
						</div>
					</div>
					<div class="products__item-footer">
						<a href="#come" class="btn-secondary js-btn-to">checkout</a>
						<div class="products__total">valor total: 12$</div>
					</div>
				</li>
			</ul>
		</div>
		<!-- END products -->

	</div>
	<!-- END inner -->
</section>
<!-- END section section3 -->