<!-- BEGIN section section1 -->
<section class="section section1">
	<!-- BEGIN inner -->
	<div class="inner">

		<!-- BEGIN t-product -->
		<div class="t-product">
			<div class="t-product__head">
				<div class="prices">
					$12	$6 per bottle 
					<img src="img/section1/pricing.png" alt="">
				</div>
				<div class="desc">Quantità limitata!</div>
			</div>
		</div>
		<!-- END t-product -->

		<!-- BEGIN content -->
		<div class="content">
			<div class="content__top">
				<ul class="brands">
					<li class="brands__item"><img src="img/section1/garant1.png" alt=""></li>
					<li class="brands__item"><img src="img/section1/garant2.png" alt=""></li>
				</ul>
				<h1 class="top-title">
					<img src="img/section1/top-title.png" alt="">
					Un colpo sull’obesità!
				</h1>
				<div class="button-wrap">
					<a href="#come" class="btn-mobile js-btn-to">
						<span>L'obesità distrugge!</span>
					</a>
				</div>
			</div>
			<div class="content__body">
				<ul class="advantage">
					<li class="advantage__item">
						<i class="advantage__icon"><img src="img/check.png" alt=""></i>
						il peso non torna di nuovo
					</li>
					<li class="advantage__item">
						<i class="advantage__icon"><img src="img/check.png" alt=""></i>
						raggiungimento di livelli record
					</li>
					<li class="advantage__item">
						<i class="advantage__icon"><img src="img/check.png" alt=""></i>
						elimina i gonfiori
					</li>
					<li class="advantage__item">
						<i class="advantage__icon"><img src="img/check.png" alt=""></i>
						normalizza l'equilibrio acqua-sale
					</li>
				</ul>
				<div class="counter">
					<div class="counter__col counter__col1">
						<div class="counter__pointer">
							<span>OGGI COMPRATO:</span>
						</div>
					</div>
					<div class="counter__col counter__col2">
						<ul class="counter-list">
							<li class="counter-list__item">
								<span>5</span>
							</li>
							<li class="counter-list__item">
								<span>2</span>
							</li>
							<li class="counter-list__item">
								<span>8</span>
							</li>
						</ul>
					</div>
				</div>
				<a href="#come" class="btn-primary js-btn-to">
					<span>Voglio!</span>
				</a>
			</div>
		</div>
		<!-- END content -->

	</div>
	<!-- END inner -->
</section>
<!-- END section section1 -->