<!-- BEGIN section section3 -->
<section class="section section3">
	<div class="inner">
		<div class="products">
			<ul class="products-list">
				<li class="products__item">
					<div class="badge">Un pacchetto</div>
					<div class="products__item-body">
						<div class="products__item-price">$6 <span>per una confezionea</span></div>
						<div class="products__item-discount">Discount <span>50%</span></div>
					</div>
					<div class="products__item-footer">
						<a href="#" class="btn-secondary">checkout</a>
						<div class="total">total cost: 6$</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
<!-- END section section3 -->