<!-- BEGIN section section5 -->
<section class="section section5">
	<!-- BEGIN inner -->
	<div class="inner">
		
		<!-- BEGIN comments -->
		<ul class="comments js-slider-2">
			<li class="comments__item comments__item_left">
				<div class="comments__pic"><img src="img/section5/mobile.png" alt=""></div>
				<div class="comments__content">
					<div class="comments__title">Sabina, 31 año</div>
					<div class="comments__desc">
						Por causa de obesidad tuve problemas con vesícula biliar, además se formaron cálculos en los conductos biliares. No podía dar largas, por eso era necesario resolver mi problema de sobrepeso lo antes posible. Con la ayuda de FizzySlim vuelvo a una vida normal. ¡He pasado de talla XL a talla L!
					</div>
				</div>
			</li>
			<li class="comments__item comments__item_right">
				<div class="comments__pic"><img src="img/section5/mobile.png" alt=""></div>
				<div class="comments__content">
					<div class="comments__title">DIAMANTA, 28 año</div>
					<div class="comments__desc">
						¡Hola! Tengo exceso de peso lo que llevó a unas complicaciones del hígado. Cada vez que se baja el nivel de azúcar, siempre siento siento un aumento de mi apetito. Eso es el único remedio que ha suprimido mi apetito. En una semana bajé unos 7 kilos. Es increíble. Pero sólo reduje la porción de comida.
					</div>
				</div>
			</li>
		</ul>
		<!-- END comments -->

	</div>
	<!-- END inner -->
</section>
<!-- END section section5 -->