<!-- BEGIN section section6 -->
<section class="section section6" id="come">
	<div class="inner">
		<div class="present">
			<div class="present__title">
				Il ordine le compresse  che si dissolve <span>FizzySLim</span>
			</div>
			<div class="present__col1">
				<ul class="advantage">
					<li class="advantage__item">
						<i class="advantage__icon"><img src="img/check.png" alt=""></i>
						il peso non torna di nuovo
					</li>
					<li class="advantage__item">
						<i class="advantage__icon"><img src="img/check.png" alt=""></i>
						raggiungimento di livelli record
					</li>
					<li class="advantage__item">
						<i class="advantage__icon"><img src="img/check.png" alt=""></i>
						elimina i gonfiori
					</li>
					<li class="advantage__item">
						<i class="advantage__icon"><img src="img/check.png" alt=""></i>
						normalizza l'equilibrio acqua-sale
					</li>
				</ul>
				<div class="counter">
					<div class="counter__col counter__col1">
						<div class="counter__pointer">
							<span>Oggi hanno comprato</span>
						</div>
					</div>
					<div class="counter__col counter__col2">
						<ul class="counter-list">
							<li class="counter-list__item">
								<span>5</span>
							</li>
							<li class="counter-list__item">
								<span>2</span>
							</li>
							<li class="counter-list__item">
								<span>8</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="present__col2">
				<div class="product-bt">
					<div class="product-bt__pic"><img src="img/section6/product-bt.png" alt=""></div>
					<div class="product-bt__footer">
						<div class="product-bt__price-current">
							$12
						</div>
						<div class="product-bt__price-old">
							<img src="img/section6/product-bt__price-old.png" alt="">
						</div>
						<div class="product-bt__text">
							Quantità limitada!
						</div>
					</div>
				</div>
				<div class="form">
					<form action="/" method="POST">
						<div class="form__content">
							<div class="form__title">Fare una richiesta</div>
							<div class="form__row"><input type="text" class="input" name="name" placeholder="Il tuo nome"></div>
							<div class="form__row"><input type="tel" class="input" name="tel" placeholder="numero di telefono"></div>
						</div>
						<button type="submit" class="btn-primary form__btn"><span>CASSA</span></button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="parallax js-parallax-2">
		<div class="parallax__item-2"></div>
	</div>
</section>
<!-- END section section6 -->