<!-- BEGIN section section1 -->
<section class="section section1">
	<!-- BEGIN inner -->
	<div class="inner">
		<div class="side-left">
			<div class="top-product">
				<div class="top-product__girl"></div>
				<div class="top-product__head">
					<div class="prices">$12	$6 per bottle</div>
					<div class="desc">Quantità limitata!</div>
				</div>
				<div class="top-product__item">
					<div class="top-product__tail"></div>
					<div class="top-product__body"></div>
				</div>
			</div>
		</div>
		<div class="side-right">
			<ul class="brands">
				<li class="brands__item"><img src="img/section1/garant1.png" alt=""></li>
				<li class="brands__item"><img src="img/section1/garant2.png" alt=""></li>
			</ul>
			<h1 class="top-title">
				Un colpo sull’obesità!
				<img src="img/section1/top-title-img.png" alt="" class="top-title__img">
			</h1>
			<ul class="advantage">
				<li class="advantage__item"><i></i>il peso non torna di nuovo</li>
				<li class="advantage__item"><i></i>raggiungimento di livelli record</li>
				<li class="advantage__item"><i></i>elimina i gonfiori</li>
				<li class="advantage__item"><i></i>normalizza l'equilibrio acqua-sale</li>
			</ul>
			<div class="counter">
				<div class="pointer">Oggi hanno comprato</div>
				<ul class="count">
					<li class="count__item"><span>5</span></li>
					<li class="count__item"><span>2</span></li>
					<li class="count__item"><span>8</span></li>
				</ul>
			</div>
			<a href="#" class="btn-primary">Voglio!</a>
		</div>
		<div class="shadow"></div>
	</div>
	<!-- END inner -->
</section>
<!-- END section section1 -->