<!-- BEGIN section section5 -->
<section class="section section5">
	<!-- BEGIN inner -->
	<div class="inner">
		
		<!-- BEGIN comments -->
		<div class="comments">
			<div class="comments__inner js-slider-2">
				<div class="comments__item comments__item_left">
					<div class="comments__pic"><img src="img/section5/mobile.png" alt=""></div>
					<div class="comments__content">
						<div class="comments__title">Sabina, 31 ANNO</div>
						<div class="comments__desc">
							A causa dell’obesità ho avuto un peggioramento delle funzioni della cistifella, ed ho avuto la formazione dei calcoli renali. Non potevo più aspettare, bisognava risolvere il problema del sovrappeso prima possibile. <br>  Con l’aiuto di FizzySlim sto tornando alla vita <br> normale. Dalla taglia XL sono già passata alla L. 
						</div>
					</div>
				</div>
				<div class="comments__item comments__item_right">
					<div class="comments__pic"><img src="img/section5/mobile.png" alt=""></div>
					<div class="comments__content">
						<div class="comments__title">DIAMANTA, 28 ANNO</div>
						<div class="comments__desc">
							Ciao! A me il peso eccessivo ha causato problemi al fegato. Con ogni calo dgli zuccheri sento di nuovo la fame. Questo prodotto è stata l’unica cosa capace a calmare la mia fame. In una settimana ho pereso meno di 7 chili. Incredibile. Ma ho soltanto diminuito le porzioni.
						</div>
					</div>
				</div>
			</div>
			<button type="button" class="arrow arrow-prev js-prev-2">
				<i class="icon-prev"></i>
			</button>
			<button type="button" class="arrow arrow-next js-next-2">
				<i class="icon-next"></i>
			</button>
		</div>
		<!-- END comments -->

	</div>
	<!-- END inner -->
</section>
<!-- END section section5 -->