<!-- BEGIN section section1 -->
<section class="section section1">
	<!-- BEGIN inner -->
	<div class="inner">
		<div class="t-product">
			<div class="t-product__head">
				<div class="prices">$12	$6 per bottle</div>
				<div class="desc">Quantità limitata!</div>
			</div>
		</div>
		<div class="content">
			<div class="content__top">
				<ul class="brands">
					<li class="brands__item"><img src="img/section1/garant1.png" alt=""></li>
					<li class="brands__item"><img src="img/section1/garant2.png" alt=""></li>
				</ul>
				<h1 class="top-title">
					<div class="top-title__big">Un colpo</div>
					<div class="top-title__small">sull’obesità!</div>
				</h1>
			</div>
			<div class="content__body">
				<ul class="advantage">
					<li class="advantage__item"><i></i>il peso non torna di nuovo</li>
					<li class="advantage__item"><i></i>raggiungimento di livelli record</li>
					<li class="advantage__item"><i></i>elimina i gonfiori</li>
					<li class="advantage__item"><i></i>normalizza l'equilibrio acqua-sale</li>
				</ul>
				<div class="counter">
					<div class="counter__pointer">
						<span>Oggi hanno comprato</span>
					</div>
					<ul class="counter-list">
						<li class="counter-list__item">
							<span>5</span>
						</li>
						<li class="counter-list__item">
							<span>2</span>
						</li>
						<li class="counter-list__item">
							<span>8</span>
						</li>
					</ul>
				</div>
				<a href="#" class="btn-primary">
					<span>Voglio!</span>
				</a>
			</div>
		</div>
		<div class="shadow"></div>
	</div>
	<!-- END inner -->
</section>
<!-- END section section1 -->