<!-- BEGIN section section6 -->
<section class="section section6">
	<div class="inner">
		<div class="section6__content">
			<div class="section6__title">Il ordine le compresse  che si dissolve <span>FizzySLim</span></div>
			<div class="section6__col1">
				<ul class="advantage">
					<li class="advantage__item"><i class="icon-check"></i>il peso non torna di nuovo</li>
					<li class="advantage__item"><i class="icon-check"></i>raggiungimento di livelli record</li>
					<li class="advantage__item"><i class="icon-check"></i>elimina i gonfiori</li>
					<li class="advantage__item"><i class="icon-check"></i>normalizza l'equilibrio acqua-sale</li>
				</ul>
				<div class="counter">
					<div class="pointer">Oggi hanno comprato</div>
					<ul class="count count_orange">
						<li class="count__item"><span>5</span></li>
						<li class="count__item"><span>2</span></li>
						<li class="count__item"><span>8</span></li>
					</ul>
				</div>
			</div>
			<div class="section6__col2">
				<div class="product-bt">
					<div class="product-bt__pic"><img src="img/section6/product-bt.png" alt=""></div>
				</div>
				<div class="form">
					<form action="" method="POST">
						<div class="form__content">
							<div class="form__title">Fare una richiesta</div>
							<div class="form__row"><input type="text" class="input" placeholder="Il tuo nome"></div>
							<div class="form__row"><input type="tel" class="input" placeholder="numero di telefono"></div>
						</div>
						<input type="submit" class="btn-primary" value="CASSA!">
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END section section6 -->